body {
    margin: 0;
}

h1, p {
    text-align: center;
}

figure {
    width: 42.5%;
    box-sizing: border-box;
    float: left;
    margin-left: 5%;
    margin-right: 0;
    margin-bottom: 50px;
}

ul {
    margin-top: 0;
    padding-left: 1rem;
}
